.container-fluid {
    background-color: orange; 
    margin-top: 20px;

    .Aviso-legal-Política-de-privacidad-Política-de-calidad {
        font-size: 20px;
        color: white;
        margin-left: 20px;
    } 

    .CONTACTAR  {
        background-color: orange;
        font-size: 20px;
        color: white;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        margin-top: 10px;}

        .solicitar-informacion  {
            color: white;
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
            margin-top: 10px;}


            .texto-footer   {
                font-size: 20px;
                color: white;
                display: flex;
                justify-content: center;}


                .texto-footer-1   {
                    background-color: chocolate;
                    display: flex;
                    color: white;
                    padding: 5px;
                    margin: 0px;
                }
    }
    



    // MAPS

    $redes: (
    facebook:   orange,
    instagram: orange,
    whatsapp: orange, 
);

@each $redsocial, $colordered in $redes {
    .fa-#{$redsocial} {
    background-color:$colordered ;
    }
}



// MIXIN


@mixin footer ($margintop, $marginBotton, $justifiContent, $fontSize, $color) {
    margin-top: $margintop;
    justify-content: $justificontent;
    margin-bottom: $marginbotton;
    font-size:$fontSize;
    color:$color;
}    





