



    // MAPS

    $redes: (
    facebook:   orange,
    instagram: orange,
    whatsapp: orange, 
);

@each $redsocial, $colordered in $redes {
    .fa-#{$redsocial} {
    background-color:$colordered ;
    }
}



// MIXIN


@mixin footer ($margintop, $marginBotton, $justifiContent, $fontSize, $color) {
    margin-top: $margintop;
    justify-content: $justificontent;
    margin-bottom: $marginbotton;
    font-size:$fontSize;
    color:$color;
}    





