header     {
    .nav-item   {
        -webkit-animation:swirl-in-fwd .6s ease-out both;
        animation:swirl-in-fwd .6s ease-out both;
    }

    .nav-item1  {
        animation-delay: 1s;
    }
    .nav-item2  {
        animation-delay: 2s;
    }
    .nav-item3  {
        animation-delay: 3s;
    }
    .nav-item4  {
        animation-delay: 4s;
    }
    .nav-item5  {
        animation-delay: 5s;
    }
}




@-webkit-keyframes swirl-in-fwd{0%{-webkit-transform:rotate(-540deg) scale(0);transform:rotate(-540deg) scale(0);opacity:0}100%{-webkit-transform:rotate(0) scale(1);transform:rotate(0) scale(1);opacity:1}}@keyframes swirl-in-fwd{0%{-webkit-transform:rotate(-540deg) scale(0);transform:rotate(-540deg) scale(0);opacity:0}100%{-webkit-transform:rotate(0) scale(1);transform:rotate(0) scale(1);opacity:1}}