header     {
    .nav-item   {
        -webkit-animation:swirl-in-fwd .6s ease-out both;
        animation:swirl-in-fwd .6s ease-out both;

        
            @for $animacion-navbar from 1 through 5 {
                .nav-item#{$animacion-navbar} {
                    animation-delay: $animacion-navbar*0.2s ;
                }
            }
       
    }

}

.texto-nav  {
    font-size: 20px;
}



.texto-carrusel     {
    color: rgb(205, 134, 2);
    
}


.TITULO     {
    font-size:40px;
}



.PARRAFO-TITULO     {
    font-size:20px;
}

.boton-contactar    {
    background-color: orange;
}



@-webkit-keyframes swirl-in-fwd{0%{-webkit-transform:rotate(-540deg) scale(0);transform:rotate(-540deg) scale(0);opacity:0}100%{-webkit-transform:rotate(0) scale(1);transform:rotate(0) scale(1);opacity:1}}@keyframes swirl-in-fwd{0%{-webkit-transform:rotate(-540deg) scale(0);transform:rotate(-540deg) scale(0);opacity:0}100%{-webkit-transform:rotate(0) scale(1);transform:rotate(0) scale(1);opacity:1}}