/* PAGINA-3-ZONAS */

                    
.contacte-con-nosotros  {
    color: rgb(166, 108, 0);
    font-size: 40px;
    justify-content: center;
    display: flex;
    
            }
                   
    .texto-zonas-mapas  {
        background-color: rgb(228, 148, 0);
        padding-top: 1vh;
        padding-bottom: 1vh;
        justify-content: center;
        color: white;
        display: flex;
        left: 10px;       
        }
                                    
                .contactar-zona-mapa  {
                    background-color:rgb(228, 148, 0);
                    color: white;
                    justify-content: center;
                    display: flex;
                    text-decoration: none;
                    padding: 10px;
                    }


